.Home-wall {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  row-gap: 1em;
  column-gap: 0.5em;
}

@media (max-width: calc(4 * 180px)) {
  .Home-wall {
    grid-template-columns: repeat(auto-fill, 180px);
  }
}
