.Header {
  background-color: var(--green);
  color: white;
}

.Header figure {
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 75px 2fr;
  column-gap: 15px;
}

.Header-title small {
  display: block;
}
