.Navigator {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 5px;
}

.Navigator ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-column-gap: 5px;
}

.Navigator li {
  text-align: center;
}

.Navigator button {
  font-size: 11px;
  font-weight: bold;
  padding: 3px 4px;
  color: crimson;
  background-color: white;
  box-shadow: none;
  border: 1px solid #bbb;
  color: #666;
  width: 100%;
}

.Navigator button:disabled {
  border: none;
}

.Navigator button:enabled:hover,
.Navigator button:enabled:focus {
  background-color: steelblue;
  color: white;
}
