.Navigator {
  position: sticky;
  padding: 5px;
  top: 0px;
  z-index: 1;
  background: white;
  display: grid;
  grid-template-columns: auto 1fr;
}

.Navigator .title {
  display: inline;
  font-size: smaller;
  margin: auto;
}

.Navigator ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-column-gap: 2.5px;
}

.Navigator li {
  text-align: center;
}

.Navigator button {
  font-size: 0.6875em;
  font-weight: bold;
  padding: 3px 4px;
  box-shadow: none;
  border: 1px solid #bbb;
  color: #666;
  width: 100%;
}

.Navigator button:disabled {
  border: none;
  background-color: transparent;
}

.Navigator button:enabled:hover,
.Navigator button:enabled:focus {
  background-color: var(--green);
  color: white;
}
