.App {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.App-wall {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-around;
  grid-row-gap: 1em;
}

.App header {
  /* display: none; */
}
